<div class="scrollable-container" [formGroup]="courseForm">
    <div>
        <h3>Course Details</h3>
    </div>
    <p-divider></p-divider>

    <div class="flex-container">
        <div class="flex-item">
            <label for="course">Course</label>
            <p-dropdown 
                appendTo="body" 
                [options]="courseList" 
                formControlName="course" 
                optionLabel="courseName" 
                (ngModelChange)="courseListByCourseName($event)"
                optionValue="courseName" 
                placeholder="Select a Course">
            </p-dropdown>
        </div>

        <div class="flex-item">
            <label for="student">Student</label>
            <p-dropdown 
                appendTo="body" 
                [options]="studentList" 
                formControlName="student" 
                optionLabel="firstName"
                optionValue="firstName" 
                placeholder="Select a Student">
            </p-dropdown>
        </div>

        <div class="flex-item">
            <label for="teacher">Teacher</label>
            <p-dropdown 
                appendTo="body" 
                [options]="teacherList" 
                formControlName="teacher" 
                optionLabel="firstName"
                optionValue="firstName" 
                placeholder="Select a Teacher">
            </p-dropdown>
        </div>
    </div>

    <p-divider></p-divider>
    <div class="mt-3 mb-3">
        <p-button (click)="submit()">Submit</p-button>
    </div>
</div>

<p-toast></p-toast>
